body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
}
.menu{
    background: #003366;
    box-shadow: 0 2px 12px 2px #003366;
}
ul{
    list-style: none;
    padding: 0;
}
.menu a{
    color: #FFF;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.menu .logo{
    color:#FFF;
    margin-right: 30%;
}
a{
    text-decoration: none;
}


.content .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
h1, h2{
    color: #003366;
}
.btn{
    background: #003366;
    color: #fff;
}
button{
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: inset 0 0 6px 2px #FFF;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
}
.center{
    text-align: center;
}
input{
    width: 100%;
    padding: 6px 10px; 
    box-sizing: border-box;
    margin-top: 4px;
}
.top{
    padding: 4px 24px;
    margin-top: 0;
    background: transparent;
    border: none;
    color: #FFF;
}